<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->
    <form action="/myForm" method="post">
        <textarea id="movieBox" name="movieBox" rows="4" cols="40">
            Movies separated by commas
        </textarea>
        <input type="submit" value="Send">
    </form>

</body>

</html>